In [50]:


import pandas as pd
import numpy as np
import csv
#Data visualisation
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
sns.set(font_scale=1)
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
#Modeling
from sklearn.model_selection import cross_val_predict, cross_val_score, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn_crfsuite.metrics import flat_classification_report
from sklearn_crfsuite import CRF, scorers, metrics
from sklearn.metrics import classification_report, make_scorer
from sklearn.model_selection import GridSearchCV
import scipy.stats
import eli5

In [51]:
data = pd.read_csv("ground_truth4ML.csv",names=["row_num", "word", "tag"],sep='\t',encoding='utf8',quoting=csv.QUOTE_NONE)
onb = pd.read_csv("onb_model_output.csv",names=["word", "lower", "known", "tag" ,"prior_tag"],sep='\t',encoding='utf8' , quotechar = '"')
lft = pd.read_csv("lft_model_output.csv",names=["word", "lower", "known", "tag" ,"prior_tag"],sep='\t',encoding='utf8' , quotechar = '"')

In [52]:
data = data.fillna("O")
#data = data.iloc[1:]
print(len(data))
data.head(20)

44401

   row_num        word    tag
0   665976           (      O
1   665977       10600      O
2   665978        Fuss      O
3   665979           =      O
4   665980        3350      O
5   665981       Meter      O
6   665982        Keil      O
7   665983           .      O
8   665984           )      O
9   665985     Sonntag      O
10  665986         den      O
11  665987         20.      O
12  665988      August      O
13  665989  marschirte      O
14  665990         ich      O
15  665991         mit      O
16  665992      Michel      O
17  665993      Groder      O
18  665994         von      O
19  665995        Kals  B-LOC

In [16]:
onb.head(50)

                word             lower    known    tag prior_tag
0                  (                 (    KNOWN      O       NaN
1              10600             $NUM$    KNOWN      O       NaN
2               Fuss              fuss    KNOWN      O       NaN
3                  =                 =    KNOWN      O       NaN
4               3350             $NUM$    KNOWN      O       NaN
5              Meter             meter    KNOWN      O       NaN
6               Keil              keil    KNOWN      O       NaN
7                  .                 .    KNOWN      O       NaN
8                  )                 )    KNOWN      O       NaN
9            Sonntag           sonntag    KNOWN      O       NaN
10               den               den    KNOWN      O       NaN
11               20.               20.    KNOWN      O       NaN
12            August            august    KNOWN      O       NaN
13        marschirte        marschirte    KNOWN      O       NaN
14               ich               ich    KNOWN      O       NaN
15               mit               mit    KNOWN      O       NaN
16            Michel            michel    KNOWN      O       NaN
17            Groder            groder  UNKNOWN      O       NaN
18               von               von    KNOWN      O       NaN
19              Kals              kals  UNKNOWN  B-LOC       NaN
20            wenige            wenige    KNOWN      O       NaN
21           Minuten           minuten    KNOWN      O       NaN
22              nach              nach    KNOWN      O       NaN
23                 6             $NUM$    KNOWN      O       NaN
24              früh              früh    KNOWN      O       NaN
25             durch             durch    KNOWN      O       NaN
26               das               das    KNOWN      O       NaN
27        Virgenthal        virgenthal  UNKNOWN      O       NaN
28          aufwärts          aufwärts    KNOWN      O       NaN
29              nach              nach    KNOWN      O       NaN
30         Prägraten         prägraten  UNKNOWN      O       NaN
31                 .                 .    KNOWN      O       NaN
32              Hier              hier    KNOWN      O       NaN
33               bei               bei    KNOWN      O       NaN
34            Isaias            isaias  UNKNOWN  B-LOC       NaN
35           Steiner           steiner    KNOWN  I-LOC       NaN
36  verproviantirten  verproviantirten  UNKNOWN      O       NaN
37               wir               wir    KNOWN      O       NaN
38               uns               uns    KNOWN      O       NaN
39               und               und    KNOWN      O       NaN
40           stiegen           stiegen    KNOWN      O       NaN
41       Nachmittags       nachmittags    KNOWN      O       NaN
42               zur               zur    KNOWN      O       NaN
43     Johann’shütte     johann’shütte  UNKNOWN      O       NaN
44             empor             empor    KNOWN      O       NaN
45                 .                 .    KNOWN      O       NaN
46             Gegen             gegen    KNOWN      O       NaN
47                 6             $NUM$    KNOWN      O       NaN
48               Uhr               uhr    KNOWN      O       NaN
49       Nachmittags       nachmittags    KNOWN      O       NaN

In [17]:
lft.head(50)

                word             lower    known    tag prior_tag
0                  (                 (    KNOWN      O       NaN
1              10600             $NUM$    KNOWN      O       NaN
2               Fuss              fuss    KNOWN      O       NaN
3                  =                 =    KNOWN      O       NaN
4               3350             $NUM$    KNOWN      O       NaN
5              Meter             meter    KNOWN      O       NaN
6               Keil              keil    KNOWN      O       NaN
7                  .                 .    KNOWN      O       NaN
8                  )                 )    KNOWN      O       NaN
9            Sonntag           sonntag    KNOWN      O       NaN
10               den               den    KNOWN      O       NaN
11               20.               20.    KNOWN      O       NaN
12            August            august    KNOWN      O       NaN
13        marschirte        marschirte    KNOWN      O       NaN
14               ich               ich    KNOWN      O       NaN
15               mit               mit    KNOWN      O       NaN
16            Michel            michel    KNOWN  B-PER       NaN
17            Groder            groder  UNKNOWN  I-PER       NaN
18               von               von    KNOWN      O       NaN
19              Kals              kals  UNKNOWN      O       NaN
20            wenige            wenige    KNOWN      O       NaN
21           Minuten           minuten    KNOWN      O       NaN
22              nach              nach    KNOWN      O       NaN
23                 6             $NUM$    KNOWN      O       NaN
24              früh              früh    KNOWN      O       NaN
25             durch             durch    KNOWN      O       NaN
26               das               das    KNOWN      O       NaN
27        Virgenthal        virgenthal  UNKNOWN      O       NaN
28          aufwärts          aufwärts    KNOWN      O       NaN
29              nach              nach    KNOWN      O       NaN
30         Prägraten         prägraten  UNKNOWN      O       NaN
31                 .                 .    KNOWN      O       NaN
32              Hier              hier    KNOWN      O       NaN
33               bei               bei    KNOWN      O       NaN
34            Isaias            isaias  UNKNOWN      O       NaN
35           Steiner           steiner    KNOWN      O       NaN
36  verproviantirten  verproviantirten  UNKNOWN      O       NaN
37               wir               wir    KNOWN      O       NaN
38               uns               uns    KNOWN      O       NaN
39               und               und    KNOWN      O       NaN
40           stiegen           stiegen    KNOWN      O       NaN
41       Nachmittags       nachmittags    KNOWN      O       NaN
42               zur               zur    KNOWN      O       NaN
43     Johann’shütte     johann’shütte  UNKNOWN      O       NaN
44             empor             empor    KNOWN      O       NaN
45                 .                 .    KNOWN      O       NaN
46             Gegen             gegen    KNOWN      O       NaN
47                 6             $NUM$    KNOWN      O       NaN
48               Uhr               uhr    KNOWN      O       NaN
49       Nachmittags       nachmittags    KNOWN      O       NaN

In [53]:
gt =  data.loc[:, ['tag']]
onb_pred = onb.loc[:,['tag']]
lft_pred = lft.loc[:,['tag']]

In [54]:
print(len(gt))
print(len(onb_pred))
print(len(lft_pred))

44401
44401
44401

In [55]:
gt.head(50)

      tag
0       O
1       O
2       O
3       O
4       O
5       O
6       O
7       O
8       O
9       O
10      O
11      O
12      O
13      O
14      O
15      O
16      O
17      O
18      O
19  B-LOC
20      O
21      O
22      O
23      O
24      O
25      O
26      O
27  B-LOC
28      O
29      O
30  B-LOC
31      O
32      O
33      O
34      O
35      O
36      O
37      O
38      O
39      O
40      O
41      O
42      O
43  B-LOC
44      O
45      O
46      O
47      O
48      O
49      O

In [56]:
report = flat_classification_report(y_pred=lft_pred.values, y_true=gt.values)
print(report)

              precision    recall  f1-score   support

       B-LOC       0.84      0.17      0.29      1980
       B-ORG       0.00      0.00      0.00         0
       B-PER       0.00      0.00      0.00         0
       I-LOC       0.70      0.40      0.51       336
       I-ORG       0.00      0.00      0.00         0
       I-PER       0.00      0.00      0.00         0
           O       0.96      0.99      0.97     42085
         nan       0.00      0.00      0.00         0

   micro avg       0.95      0.95      0.95     44401
   macro avg       0.31      0.19      0.22     44401
weighted avg       0.95      0.95      0.94     44401

In [57]:
report = flat_classification_report(y_pred=onb_pred.values, y_true=gt.values)
print(report)

              precision    recall  f1-score   support

       B-LOC       0.65      0.20      0.30      1980
       B-ORG       0.00      0.00      0.00         0
       B-PER       0.00      0.00      0.00         0
       I-LOC       0.79      0.24      0.37       336
       I-ORG       0.00      0.00      0.00         0
       I-PER       0.00      0.00      0.00         0
           O       0.96      0.99      0.97     42085
         nan       0.00      0.00      0.00         0

   micro avg       0.95      0.95      0.95     44401
   macro avg       0.30      0.18      0.21     44401
weighted avg       0.95      0.95      0.94     44401